.container {
  margin: 32px;
  box-sizing: border-box;
}

.rect {
  display: flex;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
  background-color: coral;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: width 2s, opacity 0.5s;
}

.rect:hover {
  width: 100%;
  opacity: 1;
}

.linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.ease-out {
  transition-timing-function: ease-out;
}
