html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  display: flex;
  color: #fff;
  background-image: linear-gradient(60deg, #f00, #ffa500);
  justify-content: center;
  width: 100vw;
}

.main {
  flex-grow: 1;
  display: flex;
}

.navigation {
  padding: 0.5em;
  width: 20%;
  box-sizing: border-box;
}

.nav-list {
  padding: 0;
  list-style-type: none;
}

.nav-list-item {
  box-sizing: border-box;
  background-color: #808080;
  line-height: 2em;
  color: #fff;
  margin-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-list-link {
  text-decoration: none;
  color: #fff;
  width: 100%;
  margin: 0 0.5em;
}

.section {
  padding: 0.5em;
  width: 60%;
  font-size: 1.25em;
  box-sizing: border-box;
}

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}
.news {
  padding: 0.5em;
  width: 20%;
  box-sizing: border-box;
}

.footer {
  display: flex;
  background-color: #e5e5e5;
  padding: 0.5em;
  justify-content: center;
}
