.header,
.nav-list {
  height: 40px;
  width: 100%;
  background-color: darkturquoise;
  color: white;
  box-sizing: border-box;
  margin: 0;
  position: fixed;
  display: flex;
  z-index: 1;
}

.nav-item {
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  line-height: 40px;
  margin-left: 16px;
}
main {
  background-color: beige;
  height: 5000px;
}

.head {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  margin: auto;
  top: 3%;
  
}
.ear_left,
.ear_right {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: relative;
}
.ear_left {
  bottom: 120px;
  right: 40px;
}
.ear_right {
  bottom: 60px;
  left: 200px;
}
.eye_left {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 80px;
  left: 40px;
}
.eye_right {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 80px;
  right: 40px;