.nav-list {
  background-color: darkturquoise;
  color: white;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  position: fixed;
}
.nav-item {
  display: inline-block;
  margin-left: 16px;
}
main {
  background-color: beige;
  height: 5000px;
  width: 100%;
  box-sizing: border-box;
}
.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
}
.ear_left,
.ear_right {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: relative;
}
.ear_left {
  bottom: 120px;
  right: 40px;
}
.ear_right {
  bottom: 60px;
  left: 200px;
}
.eye_left {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 80px;
  left: 40px;
}
.eye_right {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 80px;
  right: 40px;
}
