.dropdown {
  background-color: darkgreen;
  color: white;
  display: inline-block;
  margin: 16px;
  cursor: pointer;
  opacity: 0.8;
}

.menu-button {
  font-size: 16px;
  position: relative;

  padding: 16px;
  display: inline-block;
}

.menu-list {
  margin: 0;
  padding: 0;
  background-color: lightcyan;
  position: absolute;
  list-style-type: none;
  color: black;
  min-width: 120px;
  z-index: 1;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  display: none;
}

.menu-item {
  padding: 16px;
}
.dropdown:hover {
  opacity: 1;
}

.dropdown:hover .menu-list {
  display: block;
}
