[target='_blank'] {
  color: green;
}
.yellow_background {
  background-color: yellow;
}
.border_color {
  border: 3px dashed blue;
}
.indent {
  margin-left: 20px;
}
article.new {
  font-size: 24px;
}
li.new {
  background-color: red;
}
.new.posted-today {
  background-color: pink;
}
