.rect_properties {
  padding: 50px;
  border: 2px solid black;
  box-sizing: border-box;
}
.rectangle1 {
  margin: 50px;
  width: 1700px;
  height: 450px;
  background-color: blue;
}
.rectangle2 {
  width: 1600px;
  height: 350px;
  background-color: yellow;
}
.rectangle3 {
  width: 1500px;
  height: 250px;
  background-color: green;
}
.rectangle4 {
  width: 1400px;
  height: 150px;
  background-color: pink;
}
